[Unit]
Description=My System Monitor Daemon
After=network.target

[Service]
Type=simple
ExecStart=/home/aa/mydaemon.sh
Restart=always
User=root
StandardOutput=append:/var/log/mydaemon/service.log
StandardError=append:/var/log/mydaemon/error.log

[Install]
WantedBy=multi-user.target
